.order-details{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.order-details h3{
    width: 100%;
    margin: 0;
}

.order-details h3 span{
    margin: 0;
}

.checkout-button{
    width: 100%;
    display: block;
    text-align: center;
}

.view-order-info-container .checkout-button button{
    display: inline-block;
    height: 100%;
    width: 40%;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-order-pay-container .checkout-button button{
    background: rgba(53, 58, 57, 0.788);
    margin-top: 15px;
    border-radius: 30px;
}

.checkout-remove-icon{
    margin: 0;
    padding: 0;
}

.checkout-remove-icon button:hover{
    background: none;
}