*, *:before, *:after {
  box-sizing: border-box;
}

.form-grid{
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color: white;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li{
  margin: 0;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
  margin: 0;
  float: left;
}

.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
} 

.form-heading{
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}
#login{
  display: none;
}

.form form button{
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  display:block;
  width:100%;
}
.form form button:hover{
  background: #179b77;
  cursor: pointer;
}


.form form input, .form form select{
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forgot-password{
  color: #179b77;
  font-size: 20px;
  float: right;
  margin-bottom: 15px;
  margin-right: -2px;
}

.signup-error{
  text-align: center;
  font-size: 18px;
  color: red;
  margin-top: -10px;
  margin-bottom: -10px;
}

.signup-success{
  text-align: center;
  font-size: 18px;
  color: green;
  margin-top: -15px;
  /* margin-bottom: -10px; */
}

.form .reset-instructions, .form .reset-success{
  text-align: center;
  font-size: 19px;
  margin-top: -15px;
}

.form .form-split{
  display: block;
}

.form .form-split input{
  width: 48%;
  display: inline-block;
}

.form .form-split input:nth-child(2){
  margin-right: 0px;
}

.form form select option{
  cursor: pointer;
  color: black;
}

.form form .grade-container{
  display: block;
  align-content: right;
  padding: 0; 
  /* margin-bottom: 20px; */
}

.form form .drop-selector{
  display: inline-block;
  width: 70%;
  margin-top: 0;
  margin-right: 0;
}

.form form .grade-heading{
  display: inline-block;  
  font-size: 30px;
  margin-right: 38px;
  margin-top: 0;
    padding: 0;
}

.form form .class-container{
  display: block;
  align-content: right;
  padding: 0; 
  /* margin-bottom: 20px; */
}

.form form .class-heading{
  display: inline-block;  
  font-size: 30px;
  margin-right: 53px;
  margin-top: 0;
  padding: 0;
}

